### 선형 리스트(Linear List)

In [78]:
katok = ['다현', '정연', '쯔위', '사나', '지효', '모모']

In [79]:
print(id(katok[0]))
print(id(katok[1]))
print(id(katok[2]))
print(id(katok[3]))

1851058909424
1851058908560
1851058897520
1851064913520

In [80]:
katok[0]

'다현'

In [81]:
katok[4]

'지효'

#### 배열이라고 가정
- 데이터 마지막에 추가하려면
    1. 배열에 마지막에 빈공간을 생성
    2. 데이터 추가

- 데이터를 중간에 추가하려면
    1. 배열의 마지막에 빈공간을 추가
    2. 데이터를 추가할 위치까지 이전 데이터를 뒤로 쉬프트
    3. 중간에 빈 위치에 새 데이터를 추가
- insert() 함수를 안쓰면 이렇게 구현을 해야함!

In [82]:
katok

['다현', '정연', '쯔위', '사나', '지효', '모모']

In [83]:
# 맨 마지막에 빈공간 생성
katok.append(None)
katok

['다현', '정연', '쯔위', '사나', '지효', '모모', None]

In [84]:
# 뒤로 쉬프트(이동)
katok[6] = katok[5]
katok[5] = None
katok

['다현', '정연', '쯔위', '사나', '지효', None, '모모']

In [85]:
# 계속 이동
katok[5] = katok[4]
katok[4] = None
katok[4] = katok[3]
katok[3] = None
katok

['다현', '정연', '쯔위', None, '사나', '지효', '모모']

In [86]:
# 빈자리에 미나 추가
katok[3] = '미나'
katok

['다현', '정연', '쯔위', '미나', '사나', '지효', '모모']

- 데이터삭제
    1. 위치의 값을 None으로 변경
    2. None이 된 빈 위치에 오른쪽 데이터를 이동, 그 자리는 None
    3. 배열의 마지막이 None 될때까지 반복
    4. del(array[index]) 삭제

#### 선형리스트 일반 구현
- da03_linear_list.py로 구현